.navbar {
  background-color: whitesmoke;
  height: 50px;
}

.navbar a {
  margin: 10px;
  text-decoration: none;
  color: black;
  border: black solid 2px;
  padding: 3px;
}

.navbar a:visited {
  color: blue;
}

.navbar a:hover {
  color: red;
}
